.banner {
  margin-top: 1rem;
  padding-top: 2rem;
}

.banner__title {
  font-size: 1.5rem;
}

.banner__description {
  margin: 0.5rem 0 2rem;
  font-size: 14px;
  line-height: 1.25rem;
  padding: 0 1rem;
}

.banner__form--container {
  width: 100%;
  margin: 2rem 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

.banner__form--container .form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.banner__form--container .form > div {
  width: 100%;
  display: flex;
}
